* {
  box-sizing: border-box;
}

html, body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  display: table;
}

.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.logo {
  max-width: 20%;
}

.nav {
  width: 100%;
  position: absolute;
  bottom: 10px; left: 0;
  text-align: center;
}
.nav a {
  height: 36px;
  margin: 6px 8px 6px 0; padding: 0 26px;

  font-weight: 500;
  font-size: 18px;
  letter-spacing: .03em;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: all .2s ease-in-out;
  display: inline-block;
  
  border: none;
  outline: 0;
  border-radius: 2px;
  cursor: pointer;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    
  position: relative;
  overflow: hidden;
}
.nav a:visited {
  color: #fff;
}
.nav a:active {
  outline: 0;
  text-decoration: none;
  background-color: rgba(242, 242, 242, 0.6);
}

.poweredby a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.poweredby a:visited {
  color: initial;
}
.poweredby p {
  margin: 9px 4px 9px 0;
  font-weight: 300;
  color: #fff;
  float: left;
}
.poweredby img {
  display: inline-flex;
}

.wip a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.wip a:visited {
  color: initial;
}
.wip p {
  margin: 9px 4px 9px 0;
  font-weight: 300;
  color: #fff;
  float: left;
}
.wip img {
  display: inline-flex;
}
